<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"> 
    <servlet>
        <servlet-name>aa</servlet-name>
        <servlet-class>dao2.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>aa</servlet-name>
        <url-pattern>*.myt</url-pattern>
    </servlet-mapping>
    
</web-app> 